.catalog {
  display: grid;
  margin: 0 auto;
  max-width: 944px;

  gap: $card-gap;
  justify-items: center;

  @media (min-width:488px) {
    grid-template-columns: repeat(2,1fr);
  }

  @media (min-width:768px) {
    grid-template-columns: repeat(3,1fr);
  }

  @media (min-width:1024px) {
    grid-template-columns: repeat(4,1fr);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
